.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.header-title {
	padding-top: 2rem;
}

.card-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.card {
	display: flex;
	justify-content: center;
	width: 80%;
}

.card-container {
	display: flex;
	justify-content: center;
}

.show-movie-info {
	width: 40%;
}

.movie-container {
	display: flex;
	justify-content: space-around;
	padding-top: 4rem;
	width: 100%;
}

.movie-img {
	width: 100%;
	height: 60%;
}

.home-movie-img {
	height: 90%;
}

.description-style {
}
