.App {
	text-align: center;
	background-size: cover;
	background-image: url(./assets/fondo-oscuro.jpg);
	background-repeat: no-repeat, repeat;
}

p {
	color: white;
}

.header-title {
	padding-top: 2rem;
}

.card-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.card {
	display: flex;
	justify-content: center;
	width: 80%;
}

.card-container {
	display: flex;
	justify-content: center;
}

.show-movie-info {
	width: 40%;
}

.movie-container {
	display: flex;
	justify-content: space-around;
	padding-top: 4rem;
	width: 100%;
	height: 100%;
}

.movie-img {
	width: 100%;
	height: 60%;
}

.home-movie-img {
	height: 90%;
}

.description-style {
}
